* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #212121;
  color: white;
  font-family: 'Roboto', sans-serif;
}

h3 {
  color: #ababab;
  margin-bottom: 10px;
}

h4 {
  margin-bottom: 10px;
} 

.app-holder {
  display: flex;
  height: 100vh; 
  min-width: 655px;
  min-height: 475px;
}

.left-wrapper {
  display: flex;
  flex: 0 1 25%;
  flex-direction: column;
  min-height: 475px;
}


.search-bar {
  background: #121212;
  min-width: 245px;
  height: 10%;
  display: flex;
  justify-content: center;
  padding: 5px;
}

.search-input { 
  height: 35px;
  margin-top: 5px;
  margin-right: 5px;
  border: 1px solid #121212;
  border-radius: 6px;
  outline: none;
  padding: 3px;
  align-self: baseline;
  width: auto;
  background: #2c2c2c;
  color: white;
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
}

.search-input:hover,
.search-input:focus {
  border: 1px solid #c495fd;
}

#goButton {
  background: none;
  border: none;
  border-radius: 5px;
  color: #c495fd;
  background: #2d2e2f;
  height: 34px;
  width: 45px;
  margin-top: 5px;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 16px;
}

#goButton:hover, 
#goButton:active {
  background: #c495fd;
  color: #121212;
}

.left-block {
  background: #18161b;
  padding: 20px 20px;
  overflow-y: auto;
  scrollbar-color: black #383838;
  height: 77%;
}
.book-short {
  padding: 5px;
  border: 1px solid #18161b;
}

.book-short:hover {
  background: #251f2d;
  border: 1px solid #251f2d;
}

.select-book {
  border: 1px solid #c495fd;
  border-radius: 3px;
  background: #251f2d;;
}

.select-book:hover {
  border: 1px solid #c495fd;
}

.nav-bar {
  height: 13%;
  background: #121212;
  min-width: 245px;
  color: white;
  /* padding: 20px; */
  display: flex;
  justify-content: center;
  flex-direction: column-reverse;
}

.nav-bar p {
  padding-left: 10px;
}

.nav-bar span {
  padding-right: 10px;
}

.nav-btns {
  display: flex;
  justify-content: center;
}

.nav-prev-btn, 
.nav-next-btn{
  background: none;
  border: none;
  border-radius: 5px;
  padding: 8px;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 16px;
  color: #c495fd;
  background: #2d2e2f;
  cursor: pointer;
  height: 33px;
  /* width: 45px; */
  margin-left: 20px;
  margin-top: 5px;
}

.nav-next-btn {
  margin-left: 15px;
}

.nav-next-btn:hover,
.nav-prev-btn:hover, 
.nav-next-btn:active,
.nav-prev-btn:active {
  background: #c495fd;
  color: #121212;
}

.fa-long-arrow-alt-left {
  color: #383838;
  align-self: baseline;
}

.fa-long-arrow-alt-right {
  color: #383838;
  margin-left: 20px;
  align-self: baseline;
}

.center-block {
  flex: 1 1 50%;
  border-left: none;
  border-right: none;
  padding: 20px;
  font-family: 'Roboto', sans-serif;
  display: flex;
  flex-direction: column;
}

.fa-book-open {
  align-self: center;
  margin-top: 40%;
  color: #414040;
}

.center-block h2, h4 {
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
}

.center-block h4 {
  color: #aaaaaa;
}

.center-block p {
  padding-bottom: 10px;
}

#addButton {
  background: none;
  padding: 5px;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 16px;
  color: #c495fd;
  cursor: pointer;
  margin-top: 10px;
  border: none;
  border-radius: 5px;
  height: 35px;
  align-self: flex-start;
}

#addButton:hover {
  background: #c495fd;
  color: #121212;
}

.collapsible {
  cursor: pointer;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
  padding-bottom: 10px;
}

.collapsible span {
  color: #c495fd;
}

.collapsible span:hover,
.collapsible span:active{
  border-bottom: 1px solid #c495fd;
}

.content {
  display: none;
  overflow: hidden;
}

.right-block {
  flex: 0 1 25%;
  flex-direction: column;
  background: #383838;
}

.right-block__header {
  padding: 8px 20px;
  background: #383838;
  border-bottom: #c495fd;
}

.read-list__item {
  border-bottom: 2px solid #c495fd;
  padding: 10px 20px;
}

.read-list__author {
  color: #aaaaaa;
}

.mark-btn {
  background: none;
  border: none;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  color: #c495fd;
  cursor: pointer;
  margin-right: 10px;
}

.marked-item {
  background: #251f2d;
  color: white;
  padding: 20px;
}

.remove-btn {
  background: none;
  border: none;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  color: #c495fd;
  cursor: pointer;
  margin-right: 10px;
}
